{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }

  a.darken {
    display: inline-block;
    padding: 0;
    position:relative;
  }

  a.darken img {
    display: block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  a.darken:hover img {
    opacity: 0.1;           
  }
  a.darken span{
    visibility:hidden; 
    font-size:22px;
    font-weight: 700;
    color:#ebac23;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 100%;
  }
  a.darken:hover span{
    color:#ebac23; 
    visibility:visible;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="margin-bottom: 0rem !important;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>AAAI ICWSM-21</h2>
      <br>
      <h1>
        15TH INTERNATIONAL CONFERENCE<br> ON WEB AND SOCIAL MEDIA
      </h1>
      <h4>THE VIRTUAL CONFERENCE WEBSITE</h4>
      <a href="speakers.html" class="darken">
        <img 
        src="static/images/button_key.png"height="150" 
        alt="button to go to keynotes">
        <span>Keynotes</span>
      </a>
      <a href="panels.html" class="darken">
        <img 
        src="static/images/button_panel.png"
        height="150" alt="button to go to panels">
        <span>Panels</span>
      </a>
      <a href="papers.html?filter=topic&search=Spotlight" class="darken">
        <img 
        src="static/images/button_spotlight.png"
        height="150" alt="button to go to spotlight paper">
        <span>Spotlight</span>
      </a>
      <a href="papers.html" class="darken">
        <img 
        src="static/images/button_papers.png"
        height="150" alt="button to go to all papers">
        <span>Papers</span>
      </a>
      <a href="https://store.steampowered.com/" class="darken">
        <img 
        src="static/images/button_socials.png"
        height="150" 
        alt="button to go to social events">
        <span>Socials</span>
      </a>
    </div>
  </div>
  <div class="row header p-6 m-5" style="background-color: white;">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <a href="https://www.virtualchair.net/events/icwsm-2021"
      class="myButton">Enter Virtual Space</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- {{ readme | markdown }} -->
<h2>Welcome to the Virtual ICWSM 2021</h2>
<div class="row">
  <div class="col-md-8 col-sm-12">
    <p>The conference comprises the following elements:</p>
    <dl>
      <dt style="text-transform: uppercase;">Format</dt>
      <dd>Pre-recorded talks are available to view at your convenience on this website. 
      During the live sessions, presentations have been assigned a one-hour slot
      during which we ask at least one author to be available to interact
      synchronously with participants on gathertown. (tThink of it like a virtual conference poster session where authors can interact with participants).  
      </dd>
      <dd>
        There are two ways of enjoying the conference this year: 
      </dd>
      <dd>
        <strong>ICWSM Lite - The MiniConf and Slack experience.</strong> Similar to last year’s ICWSM,
        participants can choose a largely solo journey through the talks and
        events in ICWSM but still meet up with others through Slack (icwsm-2021.slack.com) and the
        single-track events. Limited opportunities to interact with paper
        authors, but you can always invite them to catch up on Slack.
      </dd>
      <dd>
        <strong>ICWSM Deluxe - The Gathertown, MiniConf, and Slack experience.</strong> Enrich
        your conference experience by hanging out in a custom-designed green
        space, much like your favorite spot on campus. Walk to your next session
        with your friends. Ask questions of the authors of the papers you really
        dig. Bump into the keynote speakers on your way to the next session.
        Hang out with the organising committee and ask all your burning
        questions. And when the sessions are over, unwind with new friends over
        a game of scribbl.

      </dd> <br>
      <dt style="text-transform: uppercase;">Schedule</dt>
      <dd>You can find the times for all the live sessions using the <a
      class="text-muted" href="calendar.html">Schedule</a>, where you can choose
      your timezone and find live sessions that work for you.</dd><br>
      <dt style="text-transform: uppercase;"> Social Media</dt>
      <dd> Share papers,  workshops, and demos by using the hashtag  <span style="font-weight: bold; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;">#ICWSM2021</span></dd><br>
      <dt style="text-transform: uppercase;">Code of Conduct</dt>
      <dd>
        Participants are encouraged to read and follow <a href="https://aaai.org/Conferences/AAAI-19/wp-content/uploads/2019/01/AAAI-19-Code-of-Conduct.1.28.19.Final_.pdf">AAAI's Code of Conduct</a> for Conferences and Events. Additionally, participants are encouraged to be courteous when sharing screen captures and photographs of conference events. Seek permission when possible and respect requests to take down images if those featured ask.
        Concerns around code of conduct or inclusion may be sent to icwsm21@aaai.org.
      </dd>
    </dl>
  </div>
</div>

<!-- <div class="row">
  <a class="twitter-timeline" data-width="420" data-height="420" data-theme="light" href="https://twitter.com/icwsm?ref_src=twsrc%5Etfw">Tweets by icwsm</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div> -->

<!-- Organizers -->
{{ components.section("Organizers") }}
{{ components.organizergroup(committee) }}

{% endblock %}
