{% set page_title = "ICWSM 2021: Mozilla" %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
        Mozilla's Project Rally - Building communities to understand and change the Web through shared data
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      TBA
    </h3>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Description
      </a>
    </div>
  </div>
</div>
<div id="details" class="pp-card m-3 collapse">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Description:</span>
        Privacy and rights are now vital to the future of data and the economics of the Internet.  A fundamental challenge for new digital business is the paradox of data vs user control.  Until recently, the dominant internet business model--starting with social media and search platforms-- tilted strongly towards profile completion: the more data, the better.
But as the regulatory climate force companies to give control over personal data back to users, existing user data becomes more valuable while new data collection is strongly penalized.  This exacerbates the information asymmetry problem of the Internet, where concentration of data among a few companies limits opportunities for innovation.
In this talk, we will introduce Mozilla Rally, a data sharing platform for users and communities.  We'll walk through examples of how we're collaborating with different communities to create large-scale studies of online life through collective sharing of browsing data.  We'll also talk about our future roadmap and how we hope to engage with research communities.<br /><br />
      </div>
    </div>
    <p></p>
  </div>
</div>

<!-- Presentation Embed -->

{% endblock %}
