{% set page_title = panel.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{panel.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{ panel.organizers | join(", ") }}
    </h3>
    <div class="text-center p-3">
      {% for image in panel.images %}
      <img src={{image}} height=150>
      {% endfor %}
    </div>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      Moderator: {{ panel.moderator }}
    </h3>
    <div class="text-center p-3">
      <img src={{panel.modimg}} height=150>
    </div>
    <div class="text-center p-3">
      {{panel.date}} <span class="session_times">{{panel.time}}</span>
    </div>
    <div class="text-center p-3">
      <a href="{{panel.link}}" style="font-size: 18px; color:brown; font-weight: bold;">   Submit a question for discussion at the panel</a>
    </div>
    <div class="text-center p-3">
      <a
      href="https://gather.town/app/InwIvgJ3kGcjFNss/icwsm-2021?map=Plenary+Room&spawnx=16&spawny=30">
        Virtual Room</a> &nbsp;&nbsp;&nbsp;
      <a href="https://icwsm-2021.slack.com/channels/panels">Slack</a>
    </div>
  </div>
</div>
<div id="details" class="pp-card m-3">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Description:</span>
        {{panel.abstract|safe}} <br /><br/>
      </div>
    </div>
    <p></p>
  </div>
  {% for yt in panel.youtube %}
  <div class="text-center">
    <iframe width="640" height="360"
    src="https://www.youtube.com/embed/{{yt}}">
    </iframe>
  </div>
  {% endfor %}
</div>

<script>
  add_local_tz = selector  => {
    const regex_time = new RegExp('\\((.*)-(.*) (.*)\\)')
    const guess_tz = moment.tz.guess(true);


    $(selector).each(function(){
        const t = $(this).text()
        const res = regex_time.exec(t)
        if (res){
            const start_time = moment.utc('2020-04-30 '+res[1],'YYYY-MM-DD HH:mm');
            const end_time = moment.utc('2020-04-30 '+res[2],'YYYY-MM-DD HH:mm');
            // console.log(start_time,end_time,"--- start_time,end_time");
            // console.log(start_time.tz(guess_tz).format('h:mm A'),"--- start_time.");
            // console.log(end_time.tz(guess_tz).format('h:mm A z'),"--- start_time.");
            const local_start = start_time.tz(guess_tz).format('HH:mm');
            const local_end_and_tz = end_time.tz(guess_tz).format('HH:mm z');
            $(this).text(`(${res[1]}-${res[2]} ${res[3]} / ${local_start}-${local_end_and_tz})`)

        }
    })
}
</script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

{% endblock %}
