{% set page_title = speaker.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{speaker.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{speaker.speaker}} / {{speaker.institution}}
    </h3>
    <div class="text-center p-3">
      <img src="{{speaker.image}}" width=200>
    </div>
    <div class="text-center p-3">
      {{speaker.date1}} <span class="session_times">{{speaker.time1}}</span> <br>
      Replay: {{speaker.date2}} <span class="session_times">{{speaker.time2}}</span> <br>
    </div>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Abstract & Bio
      </a>
    </a>
    <a class="card-link" target="_blank" href="{{speaker.slack}}">
        Slack
    </a>
    <a class="card-link" target="_blank" href="https://gather.town/app/InwIvgJ3kGcjFNss/icwsm-2021?map=Plenary+Room&spawnx=16&spawny=30">
      Virtual Room 
    </a>
    </div>
  </div>
</div>
<div id="details" class="pp-card m-3 collapse">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Abstract:</span>
        {{speaker.abstract|safe}} <br /><br />

        <span class="font-weight-bold">Bio:</span>
        {{speaker.bio|safe}}
      </div>
    </div>
    <p></p>
  </div>
</div>
<!-- Presentation Embed -->
{{ components.section("Livestream/Replay (provided by SlidesLive)") }}

<div class="col-md-12 col-xs-12 my-auto p-2">
  <div id="presentation-embed"></div>
  <script src='https://slideslive.com/embed_presentation.js'></script>
  <script>
    embed = new SlidesLiveEmbed("presentation-embed", {
      presentationId:
        "{{speaker.presentation_id | default(config.default_presentation_id)}}",
      autoPlay: false, // change to true to autoplay the embedded presentation
      verticalEnabled: true,
      verticalWhenWidthLte: 500,
      allowHiddenControlsWhenPaused: true,
      hideTitle: true,
    });
  </script>
</div>

<script>
  add_local_tz = selector  => {
    const regex_time = new RegExp('\\((.*)-(.*) (.*)\\)')
    const guess_tz = moment.tz.guess(true);


    $(selector).each(function(){
        const t = $(this).text()
        const res = regex_time.exec(t)
        if (res){
            const start_time = moment.utc('2020-04-30 '+res[1]);
            const end_time = moment.utc('2020-04-30 '+res[2]);
            // console.log(start_time,end_time,"--- start_time,end_time");
            // console.log(start_time.tz(guess_tz).format('h:mm A'),"--- start_time.");
            // console.log(end_time.tz(guess_tz).format('h:mm A z'),"--- start_time.");
            const local_start = start_time.tz(guess_tz).format('HH:mm');
            const local_end_and_tz = end_time.tz(guess_tz).format('HH:mm z');
            $(this).text(`(${res[1]}-${res[2]} ${res[3]} / ${local_start}-${local_end_and_tz})`)

        }
    })
}
</script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>
{% endblock %}
